<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <h2>Choose balloon size:</h2>
    <input type="radio" th:each="balloon : ${listBalloons}" name="size" value="${balloon.name}"><th:block th:text="${balloon.description}"></th:block></input>


    <br/>
    <a href="/selectBalloonSize.html">Submit</a>
</main>
</body>
</html>