<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <h2>Choose balloon:</h2>
    <form method="post" action="">
    <th:block  th:each="balloon : ${balloons}">
        <input type="radio" name="color" th:value="${balloon.getName()}"/>
        <label th:text="${balloon.getDescription()}"></label>
        <a type="button" th:href="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}"
           class="btn">
            <i>Edit</i>
        </a>
        <br/>
    </th:block>
    <br/>
        <button id="submit" type="submit">Izberi</button>
        <a type="button" class="btn btn-primary" href="/balloons/add-form">Dodadi</a>
    </form>
        <th:block th:each="balloon : ${balloons}">
            <form th:method="DELETE" th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}">
            <button type="submit"
                    class="btn btn-sm btn-danger delete-product" th:text="${balloon.getName()}">
                <i class="fa fa-trash">Delete</i>
            </button>
            </form>
        </th:block>


</main>
</body>
</html>